@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(253, 246, 186);
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: linear-gradient(
    180deg,
    rgba(253, 246, 186, 1) 0%,
    rgba(255, 222, 126, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-family: var(--font-bio-rhyme);
  /* font-size: 2rem; */
}
